@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
*{margin:0; padding: 0;}
html, body{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 12%;
    border-bottom: 1.5px solid rgb(183, 182, 182);
    align-items: center;
    box-shadow: 1px 3px 8px 3px lightgray;
}
.logo a{
    float: left;
    padding-left: 20px;
    padding: 10px;
    margin-left: 50px;
}

.menu-bar {
    float: right;
    padding-right: 50px;
    padding-top: 20px;
}

.menu-bar a {
    display: inline-block;
    font-size: 15px; color: #999;
    padding: 10px;
}

.menu-bar a div {
    display: inline-block;
}

.menu-bar #nickname{
    color: rgb(75, 189, 75);
    font-weight: 700;
    font-size: 20px;
}

.menu-left{
    width: 20%;
    height: 100%;
    float: left;
    border-right: 1px solid #dcdee3;
}

.vertical-menu{
    width: 200px;
    overflow: hidden;
    margin: 150px auto;
}

.vertical-menu li{
    font-size: 18px;
    text-align: center;
    padding: 8px;
    background-color: white;
    border-bottom: 1px solid #999;
}

.content{
    float: right;
    width: 75%;
    height: 100%;
    margin: auto;
}

.info{
    margin: 0 auto;
    padding: 20px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 15%;
}

.info div{
    float: left;
    font-size: 20px;
    padding: 10px;
}

.content_upper{
    position: absolute;
    top: 40%;
    left: 30%;
}
.open
{
    font-weight:bold;
    margin:5px; 
    padding:4px 6px; 
}
.pop_wrap
{
    position:fixed; 
    top:0; left:0; right:0; bottom:0; 
    background:rgba(0,0,0,.5); 
    font-size:0; text-align:center;
}
.pop_wrap:after
{
    display:inline-block; 
    height:100%; 
    vertical-align:middle; 
    content:'';
}
.pop_wrap .pop_inner
{
    display:inline-block; 
    padding:20px 30px; 
    background:white; 
    vertical-align:middle; 
    font-size:15px;
}

.pop_inner
{
    position: fixed; left: 50%; top: 50%; padding: 0 60px;
    width: 800px; height: 600px;
    transform: translate(-50%, -50%); border: 1px solid black; 
    opacity: 1;
    box-sizing: border-box;
}

.pop_inner h2{
    padding: 30px 0 42px; font-weight: bold;
    font-size: 36px; color: #222; text-align: center;
    line-height: 100%; border-bottom: 3px solid #999;
}

.pop_inner .close{
    position: absolute; right:40px; top:40px;
    width: 41px; height: 41px; background: url(C:\GIT\co-ok\UI\close.png) no-repeat;
}

.pop_inner .register{position: absolute; bottom: 30px; left: 50%}

.pop_inner .con{
    padding: 50px 100px; border-bottom: 1px solid #999;
}

table.type1 th{ font-size: 13px; color: #222; text-align: left; font-weight: normal;}
table.type1 th span{color : #de4f41}
table.type1 th em{color: #999;}

.product{
    display: grid;
    width: 70%;
    height: 80%;
    padding: 10px;
    margin: 0 auto;
}
.product-table{
    padding: 0;
    width: 80%;
}

.product-list {
    display: block;
    position: relative;
}

.product-content {
    display: grid;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #dcdee3;
    grid-template:
        "name price deadline btn" auto / 150px 200px 150px max-content;
}

.product-deadline {
    display: flex;
    grid-area: deadline;
    justify-content: center;
    font-size: 1rem;
    line-height: 2.5rem;
    margin-left: 1.5rem;
}

.product-name {
    display: flex;
    grid-area: name;
    font-size: 1rem;
    line-height: 2.5rem;
    margin-left: 1.5rem;
}

.product-price {
    display: flex;
    grid-area: price;
    font-size: 1rem;
    line-height: 2.5rem;
    margin-left: 1.5rem;
}

.product-button {
    display: flex;
    margin-left: 70px;
    flex-direction: column;
    grid-area: btn;
}

.product-table thead{
    width: 100%;
    height: 60px;
}

.product-table tr{
    height: 60px;
    left: 20%;
}

.product-table th{
    height: 60px;
    padding: 20px;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

.product-table td{
    text-align: center;
    height: 60px;
    padding: 20px;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

a{
    text-decoration: none;
}
a{

    text-decoration: none; 
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}