<!DOCTYPE html>
<html lang = "ko">
<head>
    <meta charset="UTF-8">
    <title> group_buy </title>
    <link rel="stylesheet" href = "group_buy.css">
    <script src="jquery-3.4.1js"></script>
</head>
<header>
    <div class = "logo">
        <a href=""> <img src = "../static/smallLogo.png"; width="175px"></a>
        <div>공동 구매</div>
    </div>
    <div class = "menu-bar">
        <a href = "">소비자 <div id = "nickname"></div></a>
        <a href="">마이 페이지</a>
        <a href="">로그아웃</a> 
    </div>
</header>

<script>
    var nickname = "도깡이";
    document.getElementById("nickname").innerHTML = nickname;
</script>

</html>

