<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>CO-OK</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <script src="jquery-3.4.1js"></script>
</head>

<header>
    <div class = "main-customer-bar">
        <a class = "consumer" href = "">소비자 <div id = "nickname"></div></a>
        <a class = "mypage-link" href="/consumer">마이 페이지</a>
        <a class = "logout-link" href="/">로그아웃</a> 
    </div>
</header>

<script>
    var nickname = "도깡이";
    document.getElementById("nickname").innerHTML = nickname;
</script>

<body>

    <div class = "logo:" style = "text-align: center;">
        <img src="../static/Logo.png" height = "350px">
        
    </div>
    <form action = "/search" method="post">
        <div class="search">
            <input class = "search_bar"type="text" placeholder="상품명을 입력하세요", name="searching">
            <button class="btn_search" type="submit"><img src="../static/btn_search.png" height="15" ></button>
        </div>
    </form>
        <div class="category">
            <div class="category_content"><img src = "../static/propessedfood.png" href="/search"><p>가공식품</p></div>
            <div class="category_content"><img src = "../static/meal.png" href="/search"><p>곡류</p></div>
            <div class="category_content"><img src = "../static/fruit.png" href="/search"><p>과일</p></div>
            <div class="category_content"><img src = "../static/meat.png" href="/search"><p>육류</p></div>
            <div class="category_content"><img src = "../static/seafood.png" href="/search"><p>수산물</p></div>
            <div class="category_content"><img src = "../static/vegetable.png" href="/search"><p>채소</p></div>
            <div class="category_content"><img src = "../static/msg.png" href="/search"><p>조미료</p></div>
            <div class="category_content"><img src = "../static/snack.png" href="/search"><p>스낵</p></div>
            <div class="category_content"><img src = "../static/drink.png" href="/search"><p>음료</p></div>
        </div>
    
    </body>
</html>
    