<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>CO-OK</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <script src="jquery-3.4.1js"></script>
</head>

<header>
    <div class = "menu-bar"style="text-align:right;">
        <a href = "">소비자 <div id = "nickname"></div></a>
        <a href="/consumer">마이 페이지</a>
        <a href="/">로그아웃</a> 
    </div>
</header>

<script>
    var nickname = "도깡이";
    document.getElementById("nickname").innerHTML = nickname;
</script>

<body>

    <div class = "logo:" style = "text-align: center;">
        <img src="../static/Logo.png" height = "375px">
        
    </div>

<form action = "/search" method="post">
    <div class="search:" style="text-align: center;">
        <input type="text" placeholder="상품명을 입력하세요", name="searching">
        <button class="btn_search" type="submit"><img src="../static/btn_search.png" height="15" ></button>
    </div>
	</form>

    <div class="category:" style="text-align:center;">
        <br/>
        <button class="가공식품" style="margin-right: 10px;" href="/search">가공식품</button>
        <button class="곡류" style="margin-right: 10px;" href="/search">곡류</button>
        <button class="과일" href="/search">과일</button>
        <br/> <br/>
        <button class="육류" style="margin-right: 25px;" href="/search">육류</button>
        <button class="수산물" style="margin-right: 8px;" href="/search">수산물</button>
        <button class="채소" href="/search">채소</button>
        <br/> <br/>
        <button class="조미료" style="margin-right: 22px;" href="/search">조미료</button>
        <button class="스낵" style="margin-right: 12px;" href="/search">스낵</button>
        <button class="음료" href="/search">음료</button>
    </div>

</body>


</html>
