<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset="UTF-8">
        <title> mypage_consumer </title>
        <link href="{{ url_for('static', filename='mypage_consumer.css') }}" rel="stylesheet">
        <script src="jquery-3.4.1js"></script>
    </head>
    <header>
        <div class = "logo"><a href="main_seller.html"> <img src = "../static/smallLogo.png"; width="175px"></a></div>
        <div class = "menu-bar">
            <a href = ""><div id = "nickname"></div></a>
            <a href="/consumer">마이 페이지</a>
            <a href="/">로그아웃</a> 
        </div>
    </header>

    <body>
        <div class = "menu-left">
            <ul class = "vertical-menu">
                <li><a href="">개인정보</a></li>
                <li><a href="">주문내역</a></li>
                <li><a href="">결제수단</a></li>
                <li><a href="">배송지</a></li>
            </ul>
        </div> 
    
        <div class = "content">
            <div class = "info">
                <div class = "content_upper">
                    <div id = "order_content"></div>
                </div>
            </div>
            
            <div class = "product"> 
                <ul class = "product-table">
                    <!--테이블 헤더-->
                    <li class="product-list">
                        <div class="product-content">
                            <div class="product-name">상품명</div>
                            <div class="product-price">결제 금액</div>
                            <div class="product-deadline">주문 날짜</div>
                        </div>
                    </li>
                    <!--테이블 바디-->
                    {%for i in rs%}
                    <li class="product-list">
                        <div class="product-content">
                            <div class="product-name">{{ i['name'] }}</div>
                            <div class="product-price">{{ i['cost'] }}</div>
                            <div class="product-deadline">{{ i['deadline'] }}</div>
                            <div class="product-button">
                                <button type="button" class="btn_review">후기</button>
                                <button href = "#pop_plus" type="button" class="btn_change">교환</button>
                                <button type="button" class="btn_return">반품</button>
                            </div>
                        </div>
                    </li>
                    {% end for%}
                </ul>
            </div>
        </div>
    </body>
    
    <!-- 팝업1 -->
    <div id="pop_plus" class="pop_wrap" style="display:none;">
        <div class="pop_inner">
            <h2>교환 신청</h2>
            <div class = "con">
                <table class="type1">
                    <colgroup>
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th><label for="">상품명</label></th>
                            <td><input type = "text" placeholder="상품명을 입력하세요"></td>
                        </tr>
                        <tr>
                            <th><label for="">주문 개수</label></th>
                            <td><input type="number" placeholder="원가를 입력하세요"></td>
                        </tr>
                        <tr>
                            <th><label for="">주문일자</label></th>
                            <td><input type="number" placeholder="인당할인율을 입력하세요"></td>
                        </tr>
                        <tr>
                            <th><label for="">결제금액</label></th>
                            <td><input type="number" placeholder="원가를 입력하세요"></td>
                        </tr>
                        <tr>
                            <th><label for="">교환 종류</label></th>
                            <td>
                                <ul>
                                    <li><input type = "checkbox" id = "ch1"><label for = "ch1">개인적 사유</label></li>
                                    <li><input type = "checkbox" id = "ch2"><label for = "ch2">판매자측 사유</label></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="">교환 사유</label>(0/1000byte)</th>
                            <td>
                                <input type="text" placeholder="1000자 이내로 적어주세요">
                            </td>
                        </tr>
                        <tr>
                            <th><label for="">첨부 사진</label></th>
                            <td><input type="file" placeholder="사진을 입력하세요"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="#a" class = "close"><img src = "../static/close.png"; width="30px"></a>
            <button type = "submit"  class = ".btn_registration">제출</button>
        </div>
    </div>
    
    <script>
        var nickname = "도깡이";
        document.getElementById("nickname").innerHTML = "소비자 " + nickname+"님";
        document.getElementById("order_content").innerHTML = nickname+"님의 주문 내역";
    
        var target = document.querySelector('.btn_change'); // 클릭할 버튼요소를 변수 처리
        var btnPopClose = document.querySelector('.close');
        var btnProdectRegister = document.querySelector('.btn_registration');
        var targetID;
    
        // 팝업 열기
        target.addEventListener('click', function(){
            targetID = this.getAttribute('href');
            document.querySelector(targetID).style.display = 'block';
        });
    
        // 팝업 닫기
        btnPopClose.addEventListener('click', function(){
        document.querySelector(targetID).style.display = 'none';
        });
    
    </script>
    
    </html>