<!DOCTYPE html>
<html lang = "ko">
<head>
    <meta charset="UTF-8">
    <title>CO-OK 식품 검색</title>
    <link rel="stylesheet" href = "search.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
</head>
<header>
    <div class = "logo">
        <a href="/"> <img src = "../static/smallLogo.png"; width="175px"></a>
        <div>식품 검색</div>
    </div>
    <div class = "menu-bar">
        <a href = "">판매자 <div id = "nickname"></div></a>
        <a href="/seller">마이 페이지</a>
        <a href="/">로그아웃</a> 
    </div>
</header>   

<body>
    
    <div class="search:" style="text-align: left;">
        <input type="text" placeholder="츄르">
        <button class="btn_search" type="submit"><img src="../static/btn_search.png" height="15"></button>
    </div>
    
        <details>
        <summary>카테고리</summary>
        <div class = "category">가공식품</div>
        <div class = "category">곡류</div>
        <div class = "category">과일</div>
        <div class = "category">육류</div>
        <div class = "category">수산물</div>
        <div class = "category">채소</div>
        <div class = "category">조미료</div>
        <div class = "category">스낵</div>
        <div class = "category">음료</div>
    </details>

    <select name = "sort">
        <option value = "정렬 순">정렬 순</option>
        <option value = "주문 많은 순">주문 많은 순</option>
        <option value = "가격 낮은 순">가격 낮은 순</option>
        <option value = "가격 높은 순">가격 높은 순</option>
        <option value = "리뷰 많은 순">리뷰 많은 순</option>
    </select>
    
     <div width: 2000px; margin: 0 auto; padding-top: 100px;>
            {% for i in products%}
             <div class="product">
            	<img src = "../static/chu.png" width="100" height="100">
            		<p>할인율 discount rate {{ i['discount_per_person'] }}</p>
            			<div class="product_name" style="font-weight: bold;">
                			{{ i['name']}}
            			</div>
            		<div class="price">
                		<i>{{ i['min_group_num'] }}원 ~ {{ i['max_group_num'] }}원</i>
            		</div>
        		</div>
            {% endfor %}
        </div>
</body>

<script>
    var nickname = "민주";
    document.getElementById("nickname").innerHTML = nickname;
</script>

</html>
