@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
*{
    margin:0; 
    padding: 0;
}
html, body{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 12%;
    border-bottom: 1.5px solid rgb(183, 182, 182);
    align-items: center;
}

.logo a{
    float: left;
    padding-left: 20px;
    padding: 10px;
    margin-left: 50px;
}

.logo div{
    float: left;
    padding-top: 30px;
    font-size:18px; color: #999;
}
.menu-bar{
    float: right;
    padding-right: 50px;
    padding-top: 20px;
}
.menu-bar a{
    display: inline-block;
    font-size: 15px; color: #999;
    padding:10px;
}

.menu-bar a div{
    display: inline-block;
}

a{
    text-decoration: none;
}
a{
    font-size: 15px; color: #999;
    text-decoration: none; 
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:focus{
    text-decoration: none;
}

a:hover, a:active{
    text-decoration: none;
}

.img{
    float: left;
    margin-top: 100px;
    margin-left: 100px;
}

.info{
    margin-top: 150px;
    float:center;
}

select{
    margin: 13px;
}  


.tradetype_area { visibility: hidden; opacity: 0; position: fixed; width: 90%; height: auto; overflow: auto; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 9999; background: #fff; padding: 10px 15px; box-shadow: 0px 0px 0px 100vh rgba(0, 0, 0, 0.7); }

.wrap{padding:10px;}

.btn_open{font-weight:bold; margin:5px; padding:4px 6px; background:#000; color:#fff;}
.pop_wrap{position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,.5); font-size:0; text-align:left;}
.pop_wrap:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
.pop_wrap .pop_inner{display:inline-block; padding:20px 30px; background:#fff; width:500px; font-size:15px;}

